[submodule "tools/citeproc-js-server"]
	path = tools/citeproc-js-server
	url = https://github.com/zotero/citeproc-js-server.git
[submodule "reference/zotero"]
	path = reference/zotero
	url = https://github.com/zotero/zotero.git
[submodule "reference/better-bibtex"]
	path = reference/better-bibtex
	url = https://github.com/retorquere/zotero-better-bibtex.git
[submodule "reference/juris-m"]
	path = reference/juris-m
	url = https://github.com/Juris-M/zotero.git
	branch = jurism-6.0.20
